/*

Bora Shin (20173342)
Individual CSS

*/


/* ==========================================================================
    01. General and Typography
========================================================================== */

* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
  }

  
  img {
    max-height:100%;
    max-width:100%;
  }
  

  
  /* ==========================================================================
    02. Header
  ========================================================================== */

  .navbar-nav>li:nth-child(3) {
    margin-right: 300px;
  }

  #header {
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
  }
  
  
  /* ==========================================================================
    03. Navigation
  ========================================================================== */
  #menu {
    background:#dcaab1;
    margin-bottom:0;
  }

  .navbar-inverse .navbar-nav>li>a {
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    transition:all 0.4s;
    color:#204429;
    font-weight:bold;
  }
  .navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>.active>a {
    background:#c8777b;
    color:#a63d4c;
    text-shadow:none;
  }
  

  
    /* ==========================================================================
      Responsive styles
    ========================================================================== */
  
    @media (max-width: 991px){
      .pricing .pricing-item .pricing-item-details {
          margin-left: 0;
      }
  
      .pricing .pricing-item a img {
          float: none;
          margin-bottom: 30px;
      }
    }
  
    @media (min-width:768px) {
      .navbar-nav {
          float:none !important;
          width:100%;
          text-align:center;
          margin-left:9px;
      }
      .navbar-nav>li {
          display:inline-block;
          float:none;
      }
      #logo {
          position:absolute;
          display:block !important;
          width:135px;
          left:50%;
          margin-left:-55px;
          background:#dcaab1;
          -webkit-border-radius:0 0 100% 100%;
          -moz-border-radius:0 0 100% 100%;
          border-radius:0 0 100% 100%;
          padding: 1px;
      }
    }
  
    @media (max-width:767px) {
      #header .banner h1 {
          font-size:60px;
      }
      #header .subtitle h4 {
          font-size: 22px;
      }
      .social-bar {
          text-align: left;
          margin-top: 30px;
      }
    }
  
    

  /* ==========================================================================
    Contact Us (BORA SHIN)
  ========================================================================== */

  .banner h1 {
      color: white;
      font-size: 80px;
      background-color: #dcaab1;
  }

  .subtitle h4 {
      color: white;
      font-size: 50px;
  }

  .contact-in {
      background-color: #dcaab1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #c8777b;
      height: 400px;
  }

  .contact-in form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
  }



  .contact-in form textarea,
  .contact-in form input {
      margin-bottom: 10px;
      font-size: 20px;   
      text-align: center;
      width: 600px;
  }



  #facts {
    color: #c8777b;
    margin: 30px 0px 30px 0px;
  }

  #facts h2 {
      font-weight: bold;
      font-size: 40px;
  }

  #food-menu {
    background-color: #dcaab1;
    color: #c8777b;
  }

  #food-menu h2 {
      font-weight: bold;
      font-size: 40px;
  }

  #team div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #dcaab1;
    color: white;
    font-weight: bold;
  }

  #footer {
      background-color: #dcaab1;
      margin-top: 40px;
  }

  .social-bar {
    text-align: center;
    margin: 10px;
  }

  .social-bar a {
    font-size: 50px;
    color: #c8777b;
    
  }

  .footer-nav-links {
    text-align: center;
    text-decoration:none;
  }

  .footer-nav-links a {
    font-size: 15px;
    
  }