/*
BORA / ROEDER MERGED


Website Name: Ridora Whiskey
Version:    1.0
Author:     Roeder, Rich, Bora


TABLE OF CONTENTS
    01 - General and Typography
    02 - Header
    03 - Navigation
    04 - Services
    05 - Parallax
    06 - Ridora Awards
    07 - Special offers
    08 - Reservation
    09 - Ridora Team
    10 - Footer
    11 - Responsive styles
*/


/* ==========================================================================
    01. General and Typography
========================================================================== */

* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
  }
  
  /* Snowflakes Styles */
  body {
   position: relative;
  }
  
  /* body:before {
   content: '';
   display: block;
   position: absolute;
   z-index: 2;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   pointer-events: none;
   background-image: url('https://s3.amazonaws.com/divi-life-plugin-layouts/tutorials/snow/divi-life-snowflakes-b.png'), url('https://s3.amazonaws.com/divi-life-plugin-layouts/tutorials/snow/divi-life-snowflakes-c.png'), url('https://s3.amazonaws.com/divi-life-plugin-layouts/tutorials/snow/divi-life-snowflakes-a-1.png');
    animation: divi-life-snow 10s linear infinite;
  } */
  /* @keyframes divi-life-snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  
  @-moz-keyframes divi-life-snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  
  @-webkit-keyframes divi-life-snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  
  @-ms-keyframes divi-life-snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  } */
  
  img {
    max-height:100%;
    max-width:100%;
  }
  
  /* End of Snowflakes Styles */
  
  
  /* Separators Styles */
  .ss-style-top::before {
    left:0;
    width:100%;
    height:30px;
    -webkit-background-size:25px 100%;
    -moz-background-size:25px 100%;
    -o-background-size:25px 100%;
    background-size:25px 100%;
    top:0;
    background-image:(315deg,#FFF 50%,transparent 50%),linear-gradient(45deg,#FFF 50%,transparent 50%);
    margin-top:-30px;
    z-index:100;
  }
  .ss-style-bottom::before {
    left:0;
    width:100%;
    height:30px;
    -webkit-background-size:25px 100%;
    -moz-background-size:25px 100%;
    -o-background-size:25px 100%;
    background-size:25px 100%;
    top:0;
    background-image:(583deg,#FFF 50%,transparent 50%),linear-gradient(136deg,#FFF 50%,transparent 50%);
    margin-top:0px;
    z-index: 100;
  }
  
  .header-content--find-us {
    background: url(../img/find12.jpeg) center;
    background-size: cover;
    height: 1650px;
  }
  
  /* ==========================================================================
    02. Header
  ========================================================================== */
  #header {
    background-image:url(../img/b5.jpeg);
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    position:relative;
  }
  .bg-overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(44,33,5,0.2);
    z-index:0;
  }
  #header .center {
    position:relative;
    z-index:1;
    color:white;
  }
  #header .bottom {
    color:white;
  }
  #header .center .slogan {
    font-size:26px;
    text-transform:uppercase;
  }
  #header .banner h1 {
    font-size:100px;
    color:white;
    text-transform:uppercase;
    font-weight:bold;
    display:inline-block;
    padding:0px 18px;
  }
  #header .subtitle h4 {
    display:inline-block;
    color:white;
    font-size:38px;
    padding:0px 15px;
  }
  #header .bottom {
    text-align:center;
    width:100%;
    position:absolute;
    bottom:30px;
  }
  #header .bottom a {
    font-size:36px;
    color:whitesmoke;
    position:relative;
    top:-5px;
  }
  .navbar-nav>li:nth-child(3) {
    margin-right: 300px;
  }
  
  
  /* ==========================================================================
    03. Navigation
  ========================================================================== */
  #menu {
    background:rgba(33,45,57,0.8);
    margin-bottom:0;
  }
  .navbar-brand h2 {
    margin-top:0;
    font-weight:bold;
    color:white;
  }
  .navbar-brand {
    padding-top:8px;
    padding-bottom:0;
  }
  .navbar-inverse .navbar-nav>li>a {
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    transition:all 0.4s;
    color:white;
    font-weight:bold;
  }
  .navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>.active>a {
    background:#830e10;
    color:white;
    text-shadow:none;
  }
  
  .navbar-inner {
  display:block !important;
  width:135px;
  left:50%;
  margin-left:250px;
  color: #1f3102;
  }
  
  
  
    /* ==========================================================================
   Responsive styles
    ========================================================================== */
  
    @media (max-width: 991px){
      .pricing .pricing-item .pricing-item-details {
          margin-left: 0;
      }
  
      .pricing .pricing-item a img {
          float: none;
          margin-bottom: 30px;
      }
    }
  
    @media (min-width:768px) {
      .navbar-nav {
          float:none !important;
          width:100%;
          text-align:center;
          margin-left:9px;
      }
      .navbar-nav>li {
          display:inline-block;
          float:none;
      }
      #logo {
          position:absolute;
          display:block !important;
          width:135px;
          left:50%;
          margin-left:-55px;
          background:#303a43;
          -webkit-border-radius:0 0 100% 100%;
          -moz-border-radius:0 0 100% 100%;
          border-radius:0 0 100% 100%;
          padding: 1px;
      }
    }
  
    @media (max-width:767px) {
      #header .banner h1 {
          font-size:60px;
      }
      #header .subtitle h4 {
          font-size: 22px;
      }
      .social-bar {
          text-align: left;
          margin-top: 30px;
      }
    }
  
  
  
  /* ==========================================================================
      Products Page (Bora)
    ========================================================================== */
  
    #page3_container {
      display: flex;
      flex-direction: column;
      background-color: #303a43;
      width: 100vw;
    }
  
    #page3_title{
      background-image: url(../img/whiskeypour.jpg);
      width: 100vw;
      height: 70vh;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  
    #prod_intro {
      text-align: center;
  
    }
  
    #prod_intro img {
      width: 200px;
    }
  
    #prod_title {
      color: #fedfb0;
      margin-bottom: 30px;
    }
  
    #prod_desc {
      color: white;
      font-size: 20px;
      line-height: 40px;
      width: 100vw;
      padding-left: 300px;
      padding-right: 300px;
    }
  
  /*Whiskey Description 1*/
    #whiskeybg {
      content: "";
      background-color: #fedfb0;
      width: 100vw;
      height: 70vh;
      z-index: 0;
    }
  
    #whiskeydesc1 {
      z-index: 1;
      align-self: center;
      width: 100vw;
      padding: 30px;
    }
  
    #whiskeyleft {
      font-size: 30px;
      top: 120px;
      text-align: center;
      font-weight: bold;
      color: #830e10;
    }
  
    #whiskeyleft span{
      color: #1f3102;
    }
  
    #whiskeyright {
      width: 350px;
      text-align: center;
      line-height: 30px;
    }
  
    .whiskey_taste {
      border-bottom: 2px dotted #830e10;
      color: #1f3102;
      padding: 10px 0px 10px 0px;
      font-size: 20px;
    }
  
    .whiskey_taste_alcohol {
      padding-top: 10px;
    }
  
    .whiskey_taste_header,
    .whiskey_taste_alcohol_p {
      color: #830e10;
      font-size: 25px;
      font-weight: bold;
    }
  
    .page3_shopbtn {
      width: 150px;
      background-color: #830e10;
      border: none;
      border-radius: 5px;
      margin-top: 20px;
      color: white;
      font-size: 20px;
    }
  
    /*Whiskey Description 2*/
  
    #whiskeydesc2 {
      background-image: url(../img/rusticwhiskey.jpg);
      width: 100vw;
      height: 100vh;
      background-size: 100%;
      background-repeat: no-repeat;
      color: white;
      display: flex;
      justify-content: center;
  
    }
  
    #whiskeydesc2_title {
      margin: 180px 0px 50px 0px;
      font-size: 50px;
  
    }
  
    #whiskeydesc2 p {
      font-size: 20px;
      line-height: 30px;
      width: 600px;
      margin-bottom: 30px;
  
    }
  
    /*Whiskey Card*/
    #page3_cardrow {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #303a43;
    }
  
    #page3_card1,
    #page3_card2,
    #page3_card3 {
      padding: 20px;
      color: white;
    }
  
    #page3_card-body1,
    #page3_card-body2,
    #page3_card-body3 {
      text-align: center;
      font-size: 20px;
    }
  
  
  /* ==========================================================================
      Events Page (Bora)
    ========================================================================== */
  
    #page4_container {
      display: flex;
      flex-direction: column;
      background-color: #303a43;
    }
  
  
    #page4_header {
      height: 250px;
      position: relative;
      padding-top: 150px;
      background-color: #303a43;
    }
  
  
    #page4_title {
      text-align: center;
      width: 100vw;
    }
  
    #page4_title h1 {
      font-size: 90px;
      color: white;
    }
  
  /*page4 top contents starts here*/
  
  #page4_colorblock {
      position: absolute;
      background-color: #fedfb0;
      width: 100vw;
      height: 400px;
      content: "";
      top: 520px;
      z-index: 1;
  }
  
  #page4_contents_1{
    align-self: center;
    flex: 1;
    z-index: 1;
    top: 300px;
    margin-top: 100px;
  }
  
  #page4_img_left{
      background: url(../img/events.jpg) no-repeat;
      background-size: 150%;
      width: 500px;
      height: 500px;
      border-radius: 100%;
    }
  
    #page4_img_left h3 {
        font-size: 70px;
        color: white;
        position: relative;
        line-height: 90px;
        left: -8%;
        top: 32%;
    }
  
  #page4_img_right{
    text-align: center;
    color: black;
    font-size: 20px;
    line-height: 30px;
    float: right;
    z-index: 1;
    width: 40vw;
  }
  
  #sketch{
      width: 300px;
      height: 300px;
  }
  
  /*page4 mid contents starts here*/
  
  
  #page4_imgblock{
    background: url(../img/eventsheader.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: 90px;
    text-align: center;
    margin-top: 300px;
    padding-top: 370px;
  }
  
  #page4_events_desc {
    margin-top: 50px;
    padding: 0px 220px 0px 220px;
    text-align: center;
    font-size: 30px;
    color: #fedfb0;
  }
  
  #carousel-example-generic{
    width: 60vw;
    top: 50px;
    margin: auto;
  }
  
  .carousel-caption {
    font-size: 40px;
  }
  
  
  /*inquiry form*/
  .events_form {
    margin: auto;
    width: 60vw;
    margin-bottom: 60px;
  }
  
  .form_inputs {
    display: flex;
  }
  
  .form_right {
    margin-left: auto;
  }
  
  .events_form h1 {
    margin-top: 70px;
    font-size: 70px;
    text-align: center;
    color: #fedfb0;
  }
  
  .form_item {
    color: white;
  }
  
  .form_input,
  #event_type {
    color: gray;
    width: 350px;
    height: 40px;
  }
  
  #event_day {
    width: 100px;
  }
  
  #event_month {
    width: 150px;
  }
  
  #event_year {
    width: 100px;
  }
  
  #event_day, #event_month, #event_year,
  #event_type {
    color: gray;
    height: 40px;
  }
  
  .form_comments {
    width: 100%;
    height: 30vh;
    color: gray;
  }
  
  .form_actions {
    text-align: center;
    margin-top: 20px;
  
  }
  
  .page4_button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #fedfb0;
    font-size: 25px;
    color: #830e10;
  }
  
  
  /* ==========================================================================
      Footer (Bora)
    ========================================================================== */
  
  
  #footerblock {
    background-color: #fedfb0;
    margin: 0;
    padding-left: 30px;
    width: 100vw;
  }
  
  #footerimg {
    width: 30vw;
  }
  
  #address {
    border-right: 5px dotted #830e10;
    display: flex;
    padding-top: 20px;
  }
  
  #addresstext {
    margin-top: 70px;
    padding: 10px;
  }
  
  #mapbtn {
    color: #303a43;
  }
  
  #hours {
    border-left: 5px dotted #830e10;
    line-height: 40px;
    padding-top: 50px;
  }
  
  #address, #hours {
    height: 40vh;
    color: #1f3102;
    font-size: 20px;
    margin-top: 50px;
  }
  
  /* ==========================================================================
      06. Ridora Awards
  ========================================================================== */
  .menu-items {
    text-align:center;
    margin:0 auto;
  }
  .awards-titles h1 {
    text-shadow:none;
    color:#1f3102;
    text-align:center;
    margin:0 auto;
    padding-top:30px;
    padding-bottom:15px;
  }
  #awards-menu ul {
    margin:0;
    padding:0;
    list-style:none;
  }
  .awards-images img {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:5px solid #dadada;
    display:block;
    margin:auto;
    margin-top: 40px;
    height: 150px;
    width: 250px;
  }
  
  
  /* ==========================================================================
    07. Special offers
  ========================================================================== */
  .hot-tag {
    position:absolute;
    bottom:0;
    right:0;
    z-index:15;
    display:inline-block;
    width:80px;
    height:80px;
    line-height:90px;
    text-align:center;
    font-weight:700;
    color:#fff;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
  }
  .br-red {
    background-color:#ed0121 !important;
  }
  .br-lblue {
    background-color:#32c8de !important;
  }
  .br-green {
    background-color:#51d466 !important;
  }
  .pricing {
    border-top:1px solid #f1f1f1;
  }
  .pricing .pricing-item {
    position:relative;
    margin-top:40px;
    margin-bottom:10px;
  }
  .pricing .pricing-item img {
    max-width:250px;
    float:left;
  }
  .pricing-item-details a,.pricing-item-details p,.pricing .lead {
    color:white;
    font-weight:bold;
  }
  .pricing .pricing-item .pricing-item-details {
    margin-left:265px;
  }
  .pricing .pricing-item .pricing-item-details h3 {
    margin-top:0;
    margin-bottom:8px;
    font-size:22px;
  }
  .pricing .pricing-item .pricing-item-details p {
  }
  .pricing .pricing-item .pricing-item-details a.btn {
    margin-top:10px;
  }
  .pricing .pricing-item .pricing-item-details a.view-link {
    display:inline-block;
    margin-top:7px;
    font-size:12px;
    border-bottom:1px dotted #aeaeae;
  }
  .pricing .pricing-item .hot-tag {
    top:0;
    left:0;
    margin-top:-15px;
    margin-left:-15px;
    width:55px;
    height:55px;
    line-height:50px;
    font-size:23px;
    font-weight:700;
    border: 4px solid white;
  }
  
  
  /* ==========================================================================
    08. Reservation
  ========================================================================== */
  .form-group {
    margin-bottom:24px;
  }
  .form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    cursor:not-allowed;
    background-color: transparent;
  }
  .form-control {
    height:38px;
    font-size:14px;
    vertical-align:middle;
    background-color:transparent;
    -webkit-border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
    -webkit-transition:none !important;
    -moz-transition:none !important;
    -o-transition:none !important;
    transition:none !important;
  }
  
  .form p {
    margin: 10px 0 30px 0;
  }
  
  
  /* ==========================================================================
    09. Ridora Team Contact Us
  ========================================================================== */
  .team img {
    border:5px solid #e7e7e7;
    width: 80%;
    height: 300px;
  }
  
  /* ==========================================================================
    Contact Us
  ========================================================================== */
  
  .contact-wrap {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  }
  
  .contact-in {
  padding: 40px 30px;
  width: 100%;
  align-items: center;
  }
  
  .contact-in h1 {
  text-align: center;
  }
  
  .contact-in:nth-child(1) {
  flex: 30%;
  background: url(../images/1.jpg);
  color: #fff;
  }
  
  .contact-in:nth-child(2) {
  flex: 45%;
  background: #c31432;
  }
  
  .contact-in:nth-child(3) {
  flex: 25%;
  padding: 0;
  }
  
  .contact-in h1 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  }
  
  .contact-in h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  }
  
  h4 {
  text-align: center;
  }
  
  .contact-in h2 i {
  font-size: 16px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #f5f5f5;
  color: #000;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  }
  
  .contact-in p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
  }
  
  .contact-in ul {
  padding: 0;
  margin: 0;
  }
  
  .contact-in ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  }
  
  .contact-in ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  }
  
  .contact-in ul li a i {
  font-size: 14px;
  line-height: 30px;
  color: #000;
  }
  
  .contact-in form {
  width: 100%;
  height: auto;
  }
  
  .contact-in-input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  outline: none;
  padding-left: 5px;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  
  }
  
  .contact-in-input::placeholder {
  color: #fff;
  }
  
  .contact-in-textarea {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  outline: none;
  padding-top: 5px;
  padding-left: 5px;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  
  }
  
  .contact-in-textarea::placeholder {
  color: #fff;
  }
  
  .contact-in-btn {
  width: 100%;
  height: 40px;
  border: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  
  cursor: pointer;
  }
  /* ==========================================================================
    index
  ========================================================================== */
  /*Book button*/
  .book-button input[type="submit"]{
      font-size:20px;
      font-weight: 700;
      position:relative;
      background: transparent;
      padding: 6px;
      width: 200px;
      border:2px solid #fff;
      cursor: pointer;
  }
  
  .book-button input[type="submit"]:hover{
      background:#830e10;
      transition: 0.5s;
  }
  
  
  #header .subtitle h4 {
      display:inline-block;
      color:white;
      font-size:38px;
      padding:0px 15px;
  }
  #header .bottom {
      text-align:center;
      width:100%;
      position:absolute;
      bottom:30px;
  }
  #header .bottom a {
      font-size:36px;
      color:whitesmoke;
      position:relative;
      top:-5px;
  }
  .navbar-nav>li:nth-child(3) {
      margin-right: 300px;
  } 
  /*Brand Story*/
  .brand-story{
      background-color:#fbfbfb ;
  
  }
  
  .container-story{
      padding-top: 100px;
      padding-bottom:20px;
  }
  .title-text h1{
      text-align:center;
      font-size:40px;
      font-weight:bold;
      color: #303a43;
  }
  .picture-style{
      text-align:center;
  }
  .line1{
      display:inline-block;
      margin:0 auto;
  }
  
  .brand-story .content-text{
      text-align: center;
      font-size: 20px;
      color: #303a43;
      width:60%;
      margin: 10px auto;
  }
  .Ridora-size{
      font-size: 25px;
      font-weight:bold;
  }
  
  .video .video1 video{
      width:100%;
      margin: 0;
  }
  /* ==========================================================================
      Shopping
  ========================================================================== */
  #sbody{
      font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  
  #shop-home{
      display:flex;
      margin-top: 100px;
  }
  .shopping-title{
      margin-bottom: 0;
  }
  .shopping-line{
      margin-top: 0;
  }
  button{
      font-size:0.8rem;
      font-weight:700;
      outline:none;
      border:none;
      background-color:#303a43;
      color:aliceblue;
      padding:13px 30px;
      cursor:pointer;
      text-transform:uppercase;
      transition:0.3s ease;
  }
  button:hover{
      background-color: #52777e;
  }
  
  #cart-container{
      overflow-x: auto;
  }
  
  #cart-container table{
      border-collapse:collapse;
      width:100%;
      table-layout: fixed;
      white-space:nowrap;
  }
  
  #cart-container table thead{
      font-weight:700;
  
  }
  #cart-container table thead td{
      background-color: #830e10;
      color:#fff;
      border:none;
      padding: 6px 0;
  }
  
  #cart-container table td{
      border:1px solid #b6b3b3;
      text-align:center;
  }
  
  #cart-container table td:nth-child(1){
      width:100px;
  }
  #cart-container table td:nth-child(2),
  #cart-container table td:nth-child(3){
      width:200px;
  }
  
  #cart-container table td:nth-child(4),
  #cart-container table td:nth-child(5),
  #cart-container table td:nth-child(6){
      width:170px;
  }
  
  #cart-container table tbody img{
      width:100px;
      height:100px;
      object-fit:cover;
  }
  
  #cart-bottom .coupon>div,
  #cart-bottom .total>div{
      border:1px solid #b6b3b3;
      margin-top: 20px;
      margin-bottom: 50px;
  }
  
  #cart-bottom .coupon h5,
  #cart-bottom .total h5{
      background-color: #830e10;
      color:#fff;
      border:none;
      padding: 8px 12px;
      margin-top:0;
      font-weight:700;
      font-size: 15px;
  }
  tbody{
    font-size: 15px;
  }
  tbody>input{
      width:50%;
      font-size: 15px;
  }
  #cart-bottom .coupon p,
  #cart-bottom .coupon input{
      padding: 0 12px;
  }
  
  #cart-bottom .coupon input{
      height:38px;
  
  }
  #cart-bottom .coupon input{
      margin:0 0 20px 12px;
  
  }
  #cart-bottom .coupon button{
      margin:0 0 20px 12px;
  
  }
  #cart-bottom .total div>div{
      padding: 0 12px;
  }
  #cart-bottom .total h6{
      color:#2a2a2a;
      font-size: 14px;
  
  }
  .Total-design{
      display:flex;
      justify-content: space-between;
  }
  .second-hr{
      background-color: #b8b7b3;
      width:100%;
      height: 1px;
  }
  #cart-bottom .total form > button{
      margin:0 12px 20px 200px;
      display:flex;
      justify-content:flex-end;
  }
  #Proceed{
    font-size: 15px;
  }
  
  
  /* ==========================================================================
      10. Footer  (Roeder)
  ========================================================================== */
  .dark-wrapper {
    background:#1f3102;
    color:white;
    font-size:20px;
    font-weight: 100;
  }
  
  .social-bar {
    width:100%;
    text-align:right;
    font-weight: 100;
  }
  
  .social-bar a {
    display:inline-block;
    margin-right:11px;
    font-size:2.15em;
    text-decoration:none;
    color:#fff;
    opacity:1;
    filter:alpha(opacity=100);
    -webkit-transition:opacity 350ms ease;
    -moz-transition:opacity 350ms ease;
    -o-transition:opacity 350ms ease;
    transition:opacity 350ms ease;
    font-weight: 100;
  }
  
  .social-bar a:hover {
    opacity:0.5;
    filter: alpha(opacity=50);
    font-weight: 100;
  }
  
  .copyright p{
  display: contents;
  text-align: center;
  float: left;
  font-weight: 100;
  }
  
  
  .footer-nav-links {
    text-align: right;
    list-style-type: none;
    font-weight: 100;
  }
  
  
  /* ==========================================================================
      05. parallax (Roeder)
  ========================================================================== */
  .parallax {
    background:url(../img/w1.jpeg) fixed no-repeat center center;
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
    position:relative;
    color:#FFF;
  }
  .parallax .inner {
    padding-top:130px;
    padding-bottom:130px;
  }
  .parallax.parallax2 {
    background-image:url(../img/b3.jpeg);
  }
  .bm10 {
    margin-bottom:10px !important;
  }
  .facts h4 {
    font-size:40px;
    margin-bottom:20px;
  }
  .parallax h1,.parallax h2,.parallax h3,.parallax h4,.parallax h5,.parallax h6 {
    color:#fff;
  }
  .facts p {
    font-size:16px;
    text-transform:uppercase;
    margin:0;
  }
  .story .icon-wrapper i {
    font-size:70px;
  }
  .facts i {
    font-size: 70px;
  }